USE [master]
GO
/****** Object:  Database [CommercialForum]    Script Date: 26.10.2023 19:54:34 ******/
CREATE DATABASE [CommercialForum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommercialForum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERV1215\MSSQL\DATA\CommercialForum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'CommercialForum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERV1215\MSSQL\DATA\CommercialForum_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommercialForum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommercialForum]
GO
/****** Object:  User [user01]    Script Date: 26.10.2023 19:54:35 ******/
CREATE USER [user01] FOR LOGIN [user01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Basket]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basket](
	[Id_Basket] [int] IDENTITY(1,1) NOT NULL,
	[LastCollectDate] [date] NULL,
 CONSTRAINT [PK_Basket_1] PRIMARY KEY CLUSTERED 
(
	[Id_Basket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketList]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketList](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[Id_Basket] [int] NOT NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_BasketList] PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC,
	[Id_Basket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id_Category] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category Relationship]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category Relationship](
	[Id_Relationship] [int] IDENTITY(1,1) NOT NULL,
	[Id_Product] [int] NULL,
	[Id_Category] [int] NULL,
 CONSTRAINT [PK_Category Relationship] PRIMARY KEY CLUSTERED 
(
	[Id_Relationship] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Id_Client] [int] NULL,
	[Date] [date] NULL,
	[IsConcluded] [nvarchar](5) NULL,
	[Id_Basket] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [float] NULL,
	[Image] [image] NULL,
	[Id_Trader] [int] NULL,
	[DidPut] [nvarchar](5) NULL,
	[IsAvailable] [nvarchar](5) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Role] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.10.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Balance] [float] NULL,
	[Id_Role] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id_Category], [Name]) VALUES (1, N'Игрушка')
INSERT [dbo].[Category] ([Id_Category], [Name]) VALUES (2, N'Дети')
INSERT [dbo].[Category] ([Id_Category], [Name]) VALUES (3, N'Взрослые')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Category Relationship] ON 

INSERT [dbo].[Category Relationship] ([Id_Relationship], [Id_Product], [Id_Category]) VALUES (2, 1, 4)
INSERT [dbo].[Category Relationship] ([Id_Relationship], [Id_Product], [Id_Category]) VALUES (3, 3, 1)
INSERT [dbo].[Category Relationship] ([Id_Relationship], [Id_Product], [Id_Category]) VALUES (4, 3, 2)
SET IDENTITY_INSERT [dbo].[Category Relationship] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (1, N'Client')
INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (2, N'Trader')
INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (3, N'Employee')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_User], [FName], [LName], [Patronymic], [Balance], [Id_Role], [Password], [Email]) VALUES (1, N'Admin', N'Adminov', N'Adminovich', 0, 4, N'Admin', N'Admin@mail.ru')
INSERT [dbo].[Users] ([Id_User], [FName], [LName], [Patronymic], [Balance], [Id_Role], [Password], [Email]) VALUES (2, N'test', N'test', N'test', 0, 1, N'0', N'0')
INSERT [dbo].[Users] ([Id_User], [FName], [LName], [Patronymic], [Balance], [Id_Role], [Password], [Email]) VALUES (3, N'Trader', N'Traderov', N'Traderovich', 5000, 2, N'Trader', N'Trader@mail.ru')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[BasketList]  WITH CHECK ADD  CONSTRAINT [FK_Basket_Products] FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Products] ([Id_Product])
GO
ALTER TABLE [dbo].[BasketList] CHECK CONSTRAINT [FK_Basket_Products]
GO
ALTER TABLE [dbo].[BasketList]  WITH CHECK ADD  CONSTRAINT [FK_BasketList_Basket] FOREIGN KEY([Id_Basket])
REFERENCES [dbo].[Basket] ([Id_Basket])
GO
ALTER TABLE [dbo].[BasketList] CHECK CONSTRAINT [FK_BasketList_Basket]
GO
ALTER TABLE [dbo].[Category Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Category Relationship_Category] FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Category] ([Id_Category])
GO
ALTER TABLE [dbo].[Category Relationship] CHECK CONSTRAINT [FK_Category Relationship_Category]
GO
ALTER TABLE [dbo].[Category Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Category Relationship_Products] FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Products] ([Id_Product])
GO
ALTER TABLE [dbo].[Category Relationship] CHECK CONSTRAINT [FK_Category Relationship_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Basket] FOREIGN KEY([Id_Basket])
REFERENCES [dbo].[Basket] ([Id_Basket])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Basket]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([Id_Client])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Id_Role])
REFERENCES [dbo].[Roles] ([Id_Role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
